body {
    background-image: url('./images/cse.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
  }

  #logout{
    margin-left:5px;
  }

  .grid{
    margin-top:100px;
    margin-left:15px;
}

#show{
    text-align:center;
  }

  #show_button{
    /*margin-left:140px;*/
    width:100%;
  }

  footer{
    padding:20px;
    
    color:#ffffff;

    background-color:rgb(8,8,8);
    text-align: center;
  }

  #upload{
    background-color:rgb(24, 158, 192);
    width:20%;
    margin:auto;
    margin-top:30px;
    padding-bottom:5px;
    text-align:center;
      color:white;
      font-size:20px;
  }

  #adjust{
    margin:auto;
    width:100%;
    margin-top:20px;
    background-color:white;
  }

  .card:hover{
    transform:scale(1.05);
    transition:all 200ms ease-in-out;
  }

  @import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}